.favorite-header{
    height: 300px;
    background-size: cover;
    background-position: bottom;
    position:relative;
}
.favorite-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
    